
datasets/2003_td_dataset/Fold1/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold1/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold1/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold2/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold2/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold2/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold3/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold3/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold3/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold4/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold4/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold4/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold5/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold5/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset/Fold5/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold1/dummy.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold1/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold1/test.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold1/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold1/train.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold1/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold1/vali.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold2/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold2/test.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold2/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold2/train.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold2/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold2/vali.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold3/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold3/test.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold3/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold3/train.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold3/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold3/vali.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold4/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold4/test.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold4/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold4/train.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold4/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold4/vali.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold5/test.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold5/test.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold5/train.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold5/train.txt filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold5/vali.dat filter=lfs diff=lfs merge=lfs -text
datasets/2003_td_dataset_discretized_20_bins_uniform/Fold5/vali.txt filter=lfs diff=lfs merge=lfs -text
